body{
    text-align: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    font-size: 16px;
    width: 300px;
    padding: 13px 0;
}
input:focus{
    outline: none;
}

.nav{
    float: right;
    align-items: center;
    text-decoration: none;
}
.nav a{
    color: black;
    text-decoration: none;
    padding: 8px;
    font-size: 12px;
}
.nav a:hover{
    text-decoration: underline;
}

.search{
    position: fixed;
    left: 30%;
    top:30%
}
.search img{
    display: inline-block;
    height: 92px;
    width: 272px;
    margin-bottom: 25px;
}
.bar{
    display: flex;
    outline: none;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    border-radius: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px ;
    border: 1px solid #afafaf;
    width: 550px;
    height: 20px;
    padding-left: 65px;
    
    
    
}
.bar input{
    border: none;
    text-align
    
}
.bar:hover {
    transition: 0.5s;
    box-shadow: 3px 3px rgba(131, 134, 134, 0.856);   
}
.input-icons i {
    position:absolute;
    margin-left: -50%;
    
}
.input-icons{
    width: 100%;
    margin-bottom: 10px;

}
.icon { 
    padding: 10px; 
    min-width: 40px; 
    color: rgb(161, 161, 161);
   
} 
