html, body {
    margin: 0;
     height: 100%;
      overflow: hidden
    }
body{
    text-align: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    font-size: 16px;
    width: 300px;
    padding: 13px 0;
}
input:focus{
    outline: none;
}

.nav{
    float: right;
    align-items: center;
    text-decoration: none;
    margin-top: 10px;
}
.nav a{
    color: black;
    text-decoration: none;
    padding: 8px;
    font-size: 15px;
    
}
.nav a:hover{
    text-decoration: underline;
}

.search{
    position: fixed;
    left: 30%;
    top:30%
}
.search img{
    display: inline-block;
    height: 92px;
    width: 272px;
    margin-bottom: 25px;
}
.bar{
    display: flex;
    flex-direction: row;
    outline: none;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px ;
    border: 1px solid #afafaf9f;
    width: 550px;
    height: 20px;
    padding-left: 65px;
    
    
    
}
.bar input{
    border: none;
    text-align
    
}
.bar:hover {
    transition: 0.5s;
    box-shadow: 3px 3px rgba(131, 134, 134, 0.856);   
}
.input-icons i {
    position:absolute;
    margin-left: -50%;
    
}
.input-icons{
    width: 100%;
    margin-bottom: 10px;

}
.icon { 
    padding: 10px; 
    min-width: 40px; 
    color: rgb(161, 161, 161);
    margin-top: 5px;
   
} 
.button{
    display: inline-block;
    border: none;
    width: 125px;
    color: black;
    background-color: rgba(214, 212, 212, 0.24);
    border-radius: 5px;
    margin-left: 10px;
    font-size: 14px;
}

.button:hover{
    border: 1px solid rgba(128, 128, 128, 0.705);
}

/* Queries */
/*small phones to small tablets : 481 to 767 px*/



@media only screen and (max-width:1050px){
   
    .bar{
        width: 450px;
       
    }

    .input-icons i {
        position:absolute;
        margin-left: -50%;
        
    }
}


@media only screen and (max-width: 800px){
    
    .search{
        width: 50%;
       
    }
   .bar{
       width: 350px;
   }
    .input-icons i {
        position:absolute;
        margin-left: -50%;
    }
}
@media only screen and (max-width: 650px){
  
    .search{
        width: 50%;
       
    }
   .bar{
       width: 275px;
   }
    .input-icons i {
        position:absolute;
        margin-left: -50%;
    }
}
@media only screen and (max-width: 512px){
  
    .search{
        width: 50%;
       
    }
    .search img{
        height: 90%;
        width: 90%;
    }
   .bar{
       width: 130px;
   }
    .input-icons i {
        position:absolute;
        margin-left: -50%;
    }
    .button{
        margin-top: 10px;
    }
}


